

<% layout('layouts/boilerplate')%>
        <h2 class='my-3 p-2 border-bottom border-2 '>All Campgrounds</h2>
        <br>
        <%for(let c of allcampgrounds)
            { %>
    <div class="card mb-3">
        <div class="row"> 
            <div class="col-md-4">
                <img class="img-fluid" src="<%=c.images[0].url%>" >
            </div>
            <div class="col-md-8">
                <div class='card-body'>
                    <div class="card-title">
                        <%=c.title%>
                    </div>
                    <p class="card-text"><%=c.description%></p>
                   <p class="card-text">
                        <%=c.location%>
                    </p>
                    
                    
                    <a class="btn btn-primary" href="/campgrounds/<%=c._id%>">View</a>
                </div>
            </div>
        </div>
    </div>
           <% }%>
       
    
  